*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(./img/discapacidad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.contenedor{
    position: relative;
    margin: 200px  auto;
    height: max-content;
    width: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 96%, 0.463);
    border: solid  1px;
    border-radius: 5px;
    padding-bottom: 20px;
}

h1{
    width: max-content;
    margin-bottom: 10px;
}
.seleccionPrestacion{
    display: flex;
    flex-direction: column;
    position: static;
    top: 10px;
    font-size: 15px;
    font-weight: bold;
}
.seleccionPrestacion input{
    margin-right: 15px;
}
.fechas{
    width: 270px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.sesiones{
    padding: 20px;
    margin-top: 20px;
    width: 350px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.cantSesiones{
    width: 270px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.sesiones input{
    width: 90px;
    text-align: center;
}
#btn-caculador{
    background-color: blue;
    color: whitesmoke;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    letter-spacing: 2.5px;
    font-size: 15px;
}
#btn-caculador:hover{
    background-color: rgba(4, 4, 83, 0.729);
}
#totalDeSesiones{   
    width: 350px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2.5px;
}

.transporte{
    margin-top: 20px;
    display: none;
    width: max-content;
}
.trasladoA{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.cant-dia{
    width: 50px;
}
.prestDisca{
    width: 250px;
}
.sumarDestino{
    background-color: rgb(48, 148, 48);
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    font-weight: bold;
}
.sumarDestino:hover{
    background-color: green;
}
.eliminarDestino{
    background-color: red;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    font-weight: bold;
}
.eliminarDestino:hover{
    background-color: rgb(107, 9, 9);
}

#totalGeneral{
    background-color: green;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
    display: none;
}
.total{
    background-color:blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.km{
    width: 50px;
}
@media(max-width: 1900px){
    .contenedor{
        margin: 50px auto;
    }
}